

<div class="lower-footer ">
    <div class="">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-1">
                
                <div>
                    <img src="../../assets/plus.svg" alt="">
                </div>
            </div>

            <div class="col-lg-9 col-md-9 col-9">

                <div class="lower-footer-textbox">
                    <input type="text" class="w-100">
                    <img src="../../assets/sticker.svg" alt="">
                </div>
            </div>

            <div class="col-lg-2 p-0 col-md-1 col-1">
                
                <div class="d-flex mt-1">
                    <img class="me-2" src="../../assets/camera.svg" alt="">
                    <img class="" src="../../assets/mic-24-regular.svg" alt="">
                </div>
            </div>

        </div>

    </div>
    <div class="footer-line mt-4">
    </div>
</div>