<div class="upper-nav">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <span>10:38</span>
        </div>
        <div class="d-flex upper-nav-icons ">
            <img src="../../assets/Group 685.svg" alt="">
            <img src="../../assets/wifi-alt.svg" alt="">
            <img src="../../assets/battery-full.svg" alt="">
        </div>
    </div>
    <div class="d-flex align-items-center mt-2 ms-1 navName">
        <img src="../../assets/Group 3301.svg" class="me-2" alt="">
        <h6 class="m-0">communicate</h6>
    </div>
</div>