<section class="mt-4">
    <div class="arrow">
        <div class="outer"></div>
        <div class="inner"></div>
    </div>
<div >
    <div class="current-day">
        <p class="m-0  text-center">Today</p>
    </div>
    <div class="mobil-body arrow-left mt-3">
        <div>
            <div class="text-center p-3">
                <img src="../../assets/commnicate.jfif" style="width: 100% ; border-radius: 15px; " alt="">
            </div>
            <div class="commnicate-caption mt-2 px-3">
                <p>Hello {{Name}} ,</p>
                <p>how are you doing ?</p>
            </div>
            <div class="commincate-thanking mt-4 px-3">
                <span>Thank you for your time</span>
            </div>
            <div class="comincate-time text-end px-3">
                <span>10:30</span>
            </div>
            <div class="line">
            </div>
            <div>
                <div class="p-2 visit-website  d-flex align-items-center justify-content-center">
                    <i style="font-size: 20px; color: #59b3ed; font-weight:600 ;"
                        class="me-3 fa-solid fa-forward-fast"></i>
                    <a href="https://angular.io/" target="_blank" class='text-decoration-none'>
                        Visit our website
                    </a>
                </div>
                <div class="line">
                </div>
                <div class="p-2 visit-website  d-flex align-items-center justify-content-center">
                    <i style="font-size: 20px; color: #59b3ed; font-weight:600 ;" class="fa-solid fa-phone me-3"></i>
                    <a href="tel:+201279440569" class='text-decoration-none'>
                        Call us
                    </a>
                </div>
                <div class="line">
                </div>
                <div class="p-2 visit-website  d-flex align-items-center justify-content-center">
                    <i style="font-size: 20px; color: #59b3ed; font-weight:600 ;" class="me-3 fa-solid fa-backward"></i>
                    <a href="#" (click)="doneBtn()" class='text-decoration-none'>
                        Done
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</section>